.btn {
    word-wrap: break-word !important;
    word-break: break-all !important;
    white-space: normal !important
}

.axis--x path {
    display: none;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: 100;
}
text {
    font-size: 12px;
}

.lineGraph path {
    stroke: steelblue;
    stroke-width: 2px;
    fill: none;
}

.lineGraph .axis path,
.lineGraph .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.lineGraph .legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}